<main class="flex-shrink-0">

	<div class="container">

		<h1 class="mt-5">Add Bucket</h1>

		<p class="lead">Name of the bucket:</p>

		<form asp-action="AddBucket" asp-controller="Home" asp-antiforgery="true">

			<div class="mb-3 row">
				<div class="col-sm-10">
					<input type="text" class="form-control" name="BucketName" autocomplete="off">
				</div>
			</div>

			<div class="col-auto">
				<button type="submit" class="btn btn-primary mb-3">OK</button>
			</div>

		</form>

	</div>

</main>