<div class="px-4 py-5 my-5 text-center">

    <img class="d-block mx-auto mb-4" src="/minio.png" alt="" height="150">
    
    <div class="col-lg-6 mx-auto bg-light p-4 rounded-4 w-75">
        <p class="lead mb-4">MinIO is an object storage solution that provides an Amazon Web Services S3-compatible API
            and supports all core S3 features. MinIO is built to deploy anywhere - public or private cloud, baremetal
            infrastructure, orchestrated environments, and edge infrastructure.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a asp-controller="Minio" asp-action="Index" type="button" class="btn btn-primary btn-lg px-4 gap-3">Start Using MinIO</a>
            <a href="https://min.io/" target="_blank" type="button" class="btn btn-outline-secondary btn-lg px-4">Product Web Site</a>
        </div>
    </div>

</div>


@* @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <button type="submit">Upload</button>
} *@